@charset "utf-8";

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(0.625rem) !important;
    z-index: 99999 !important;
    display: none;
}
.modal-content{
    overflow-y: scroll !important;
}
.modal-content::-webkit-scrollbar, 
.course-modal::-webkit-scrollbar {
    width: 0.625rem !important;
}

.modal-content::-webkit-scrollbar-thumb,  
.course-modal::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 55) !important;
    border-radius: 0.625rem !important;
    background-clip: padding-box !important;
    border: 0.125rem solid transparent !important;
}

.modal-content::-webkit-scrollbar-track, 
.course-modal::-webkit-scrollbar-track {
    border-radius: 0.625rem !important;
    box-shadow: inset 0.000rem 0.000rem 0.312rem transparent !important;
}

.modal-close{
    top: 1rem;
    right: 1rem;
}

/* course_modal css */

.course-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.625rem);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.3s ease-in-out;
}
/* 페이드인 애니메이션 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.course-modal {
    background: #fff;
    max-width: 67.500rem;
    max-height: 80%;
    overflow-y: scroll;
    border-radius: 0.625rem;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
    position: relative;
    transform: translateY(-1.250rem);
}



.course-modal-section-wrap{
    background-color: #fff;
    padding: 0 1.875rem;
}
.course-modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.250rem;
    position: relative;
}

.course-modal-image {
    width: 100%;
    max-height: 29.375rem;
    object-fit: cover;
}

.course-modal-title-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.course-modal-title {
    color: #ffffff;
    font-size: 4em;
    font-weight: bold;
    background: rgb(3 3 3 / 60%);
    padding: 0.312rem 1.250rem;
    border-radius: 0.750rem;
}

.course-modal-tags .tag {
    display: inline-block;
    margin-right: 0.312rem;
    padding: 0.250rem 0.500rem;
    background: rgb(3 3 3 / 60%);
    color: #fff;
    border-radius: 0.312rem;
    font-size: 0.85em;
    font-weight: bold;
}

.course-modal-section {
    margin: 1.250rem 0;
    padding: 0.625rem;
    background: #ffffff;
    border-radius: 0.625rem;
}

.course-modal-section-title {
    width: 100%;
    margin: 1.875rem auto 0;
    text-align: center;
    font-weight: 700 !important;
    font-size: 2.375rem;
    line-height: 4.938rem;
    letter-spacing: -0.04em;
    /* background-color: #fff; */
}
.course-modal-section-title > i{
    display: block;
      background: #000000;
      width: 3.125rem;
      height: 3.125rem;
      margin: 0.000rem auto 0.625rem;
      text-align: center;
      font-weight: 500;
      font-size: 1.875rem;
      letter-spacing: -0.04em;
      color: #FBFBFB;
      font-stretch: 100;
      line-height: 3.000rem;
      font-style: normal;
      border-radius: 50%;
}
.course-modal-section-title > strong{
    font-weight: 550;
      font-size: 2.625rem;
      line-height: 3.062rem;
      text-align: center;
      letter-spacing: -0.04em;
      color: #222222;
}
.section-content{
    text-align: center;
    font-size: 1.250rem;
    font-weight: bold;
    color: #333;
    max-width: 37.500rem;
    margin: 0 auto;
    letter-spacing: -0.15rem;
}

.course-modal-lecture-info{
    width: 46.812rem;
    margin: 1.562rem auto 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.250rem 0.000rem;
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
}

.course-modal-lecture-info > dt {
    display: inline-block;
    background: linear-gradient(98.83deg, #525669 0.76%, #2D303D 97.62%);
    width: 12.500rem;
    height: 5.000rem;
    line-height: 5.000rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.500rem;
    letter-spacing: -0.04em;
    color: #FFFFFF;
  }

  .course-modal-lecture-info > dt:first-of-type {
    background: linear-gradient(279.9deg, #3450A4 6.63%, #5273D6 115.83%);
  }

  .course-modal-lecture-info > dd {
    display: inline-block;
    width: 34.312rem;
    height: 5.000rem;
    line-height: 5.000rem;
    background: #FFFFFF;
    padding-left: 1.938rem;
    font-weight: 600;
    font-size: 1.312rem;
    letter-spacing: -0.04em;
    color: #444444;
    box-sizing: border-box;
  }

  .course-modal-lecture-info > dd > span {
    color: #4F8EF7;
  }

.scourse-modal-ection-content {
    font-size: 1em;
    color: #333;
}

.course-modal-section-list {
    list-style: none;
    padding: 0;
}

.course-modal-section-list li {
    margin: 0.312rem 0;
    padding-left: 0.938rem;
    position: relative;
}

.course-modal-section-list li::before {
    content: '▶';
    position: absolute;
    left: 0;
    color: #4A90E2;
}

.course-modal-benefits-list{padding-top: 1.875rem;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-items: center;gap: 1.875rem;}
.course-modal-benefits-list > li{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #f6f6f6;
    padding: 1.250rem;
    border-radius: 0.438rem;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.250rem;
    border-radius: 50%;
    background: #fff;
}
.img-box > .benefits-icon{
    height: 4.375rem;
}
.course-modal-benefits-list strong{
    text-align: center;
    font-size: 1.312rem;
    font-weight: bold;
    letter-spacing: -0.125rem;
}
.course-modal-benefits-list span{
    text-align: center;
    font-size: 1.000rem;
    letter-spacing: -0.125rem;
}

.course-btn{
    display: block;
    width: 37.500rem !important;
    margin: 0 auto;
}

.modal-cta {width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;padding-bottom: 4.062rem;}

/* .cta-button.gradient-btn {
    background: linear-gradient(135deg, #FF6B6B, #FFA07A);
    color: #fff;
    padding: 0.938rem 1.562rem;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 1.2em;
    transition: background 0.3s;
    box-shadow: 0 0.312rem 0.938rem rgba(255, 107, 107, 0.5);
}

.cta-button.gradient-btn:hover {
    background: linear-gradient(135deg, #FFA07A, #FF6B6B);
} */

.cta-info {
    margin-top: 0.625rem;
    font-size: 0.9em;
    color: #666;
    display: none;
}

.close-course-modal {
    position: absolute;
    top: 2.500rem;
    right: 21.250rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.938rem;
    height: 2.938rem;
    border-radius: 624.938rem;
    background-color: rgb(82, 82, 82);
    color: #fff;
}
.close-course-modal:hover {
    background: linear-gradient(135deg, #4A90E2, #6C63FF);
}

@media screen and (max-width: 768px){
    .modal{
        width: 90%;
        box-sizing: border-box;
        margin: 0 auto !important;
    }
    .agree-checklist li{
        display: block !important;
    }
    .agree_btn{
        display: block !important;
        margin-left: 1.8rem !important;
    }

    .course-modal{
        width: 90%;
    }
    .close-course-modal{
        top: 0rem;
        right: 2rem;
    }
    .course-modal-title{
        font-size: 1.5rem;
    }
    .course-modal-section-title > strong{
        font-size: 1.6rem;
    }
    .section-content {
        text-align: justify;
        font-size: 1.175rem;
    }
    .course-modal-lecture-info{
        width: 100%;
        box-shadow: none;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    .course-modal-lecture-info > dt{
        width: 100%
    }
    .course-modal-lecture-info > dd{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 6rem;
        line-height: 2rem;
        text-align: center;
        padding: 0 0.75rem;
    }
    .course-modal-lecture-info > dd:last-of-type{
        border-bottom: 1px solid #ccc;
    }
    .course-modal-benefits-list{
        display: block;
    }
    .course-modal-benefits-list > li{
        width: 100%;
    }
    .course-btn{
        width: 90% !important;
    }
    .close-course-modal{
        top: 1rem;
        right:  1rem;
    }
}